<footer class="footer-distributed" id="footer">

    <div class="footer-left">
        <h3><span>NITCOURSEWARE</span></h3>

        <p class="footer-links">
            <a href="#">Home</a>
            |
            <a href="#">About</a>
            |
            <a href="#">Contact</a>
            |
            <a href="#">Blog</a>
        </p>

        <p class="footer-company-name">Copyright © 2023 <strong>Gktech</strong> All rights reserved</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p>NIT AP TADEPALLIGUDEM, India</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+91 9573253107, </p>
            <p>+91 9573253107</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:kondapalakala3107@gmail.com">kondapalaka3107@gmail.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About</span>
            <strong>courseware</strong> which contains of your respective course and year and it also provides readings and syllabus
        </p>
        <div class="footer-icons">
            <a href="https://www.facebook.com/arugondagirish.kumar?mibextid=ZbWKwL" target="_main"><i class="fab fa-facebook-f icon"></i></a>
            <a href="https://instagram.com/yadagiri_kondapalakala?igshid=ZDdkNTZiNTM=" target="_main"><i class="fab fa-instagram icon"></i></a>
            <a href="https://in.linkedin.com/"><i class="fab fa-linkedin-in icon" target="_main"></i></a>
            <a href="https://twitter.com/Yadagir31072003?t=7TDdQcpX0e6R9Cp4-XpNzA&s=08" target="_main"><i class="fab fa-twitter icon"></i></a>
            <a href="https://www.youtube.com/"><i class="fab fa-youtube icon" target="_main"></i></a>
        </div>
    </div>
</footer>
<script>
    function showSection(sectionId) {
      // Hide all sections
      document.getElementById('Syllabus').style.display = 'none';
      document.getElementById('Readings').style.display = 'none';
      document.getElementById('LectureSlides').style.display = 'none';

      // Show the specified section
      document.getElementById(sectionId).style.display = 'block';
    }
    showSection('Syllabus');


    // const facultyToggleBtn = document.getElementById("arrow_left");
    // const facultyDetailsDiv = document.getElementById("division_content");

    // facultyToggleBtn.addEventListener("click", () => {
    // facultyDetailsDiv.classList.toggle("show");
    // facultyToggleBtn.classList.toggle("arrow_left");
    // facultyToggleBtn.classList.toggle("bi-x");
    // });

   
  </script>
<script type="text/javascript" src="/javascript/student.js"></script>


</body>



</html>