<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Course ware</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel = "stylesheet" href="/css/index.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Mulish:wght@500;700;800&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/59606cf107.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
            <h1 class="navbar-brand"><span style="color:#ff8a1f;">NIT</span>COURSEWARE</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ms-auto">
                    <li class="navbar-item">
                        <a class="nav-link link-warning" href="/">Home</a>
                    </li>
                    <li>
                        <a class="nav-link link-warning" href="/signup" >Sign up</a>
                    </li>
                    <li>
                        <a class="nav-link link-warning" href="/login" >Log in</a>
                    </li>
                    <li>
                        <a class="nav-link link-warning" href="#footer">contact us</a>
                    </li>
                </ul>
            </div>
    </nav>
        <div class="introduction">
          <div class="intro-card">
            <h1>Learn without limits</h1>
            <p>this is the website where you can access courses. so why late sign up now using below link</p>
            <button type="button" class="btn btn-lg btn-primary"><a href="/signup" style="text-decoration: none; color: #fff;">signup now</a></button>
    
          </div>
          
        </div>

        <div class="container1">
            <div class="row">
                <div class="col-lg-4">
                    <h4>What is CourseWare?</h4>
                </div>
                <div class="col-lg-6">
                   <p>Courseware refers to any instructional material or content that is designed to support teaching and learning in an educational or training setting. It includes a wide range of materials such as textbooks, lecture notes, slides, videos, quizzes, and assessments. Courseware can be delivered through various mediums such as printed materials, online platforms, and multimedia formats. The aim of courseware is to facilitate learning and improve student outcomes by providing structured and organized content that is aligned with the learning objectives of a course or training program. Courseware can be designed for different levels of education or training, from primary school to higher education and professional development.</p>
                </div>
            </div>
        </div>

        <!-- <div class="about2">
          
          <div class="about_title"><h1>About us</h1></div>
          <div class="about_content">
            <ul class="aboutlist">
              <li>->Courses</li>
              <li>->syllabus</li>
              <li>->readings</li>
              <li>->Lecture Slides</li>
            </ul>
          </div>
          
        </div> -->



        <div id="footer">
        <!-- Footer -->
        <footer
                class="text-center text-lg-start text-white"
                style="background-color: #1c2331"
                >
          <!-- Section: Social media -->
          <section
                   class="d-flex justify-content-between p-4"
                   style="background-color: #6351ce"
                   >
            <!-- Left -->
            <div class="me-5">
              <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->
      
            <!-- Right -->
            <div>
              <a href="#" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://twitter.com/Yadagir31072003?t=7TDdQcpX0e6R9Cp4-XpNzA&s=08" class="text-white me-4">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="https://google.com" class="text-white me-4">
                <i class="fab fa-google"></i>
              </a>
              <a href="https://instagram.com/yadagiri_kondapalakala?igshid=ZDdkNTZiNTM=" class="text-white me-4">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://www.linkedin.com/in/yadagiri-kondapalakala-b01b9323a" class="text-white me-4">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="#" class="text-white me-4">
                <i class="fab fa-github"></i>
              </a>
            </div>
            <!-- Right -->
          </section>
          <!-- Section: Social media -->
      
          <!-- Section: Links  -->
          <section class="">
            <div class="container text-center text-md-start mt-5">
              <!-- Grid row -->
              <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                  <!-- Content -->
                  <h6 class="text-uppercase fw-bold"><span>NIT</span>COURSEWARE</h6>
                  <hr
                      class="mb-4 mt-0 d-inline-block mx-auto"
                      style="width: 60px; background-color: #7c4dff; height: 2px"
                      />
                  <p>
                    Here you can use rows and columns to organize your footer
                    content. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit.
                  </p>
                </div>
                <!-- Grid column -->
      
                
      
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold">Useful links</h6>
                  <hr
                      class="mb-4 mt-0 d-inline-block mx-auto"
                      style="width: 60px; background-color: #7c4dff; height: 2px"
                      />
                  <p>
                    <a href="#!" class="text-white">Announcements</a>
                  </p>
                  <p>
                    <a href="#!" class="text-white">Student Portal</a>
                  </p>
                  <!-- <p>
                    <a href="#!" class="text-white">Help</a>
                  </p> -->
                  <p>
                    <a href="#!" class="text-white">Help</a>
                  </p>
                </div>
                <!-- Grid column -->
      
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold">Contact</h6>
                  <hr
                      class="mb-4 mt-0 d-inline-block mx-auto"
                      style="width: 60px; background-color: #7c4dff; height: 2px"
                      />
                  <p><i class="fas fa-home mr-3"></i> NIT AP, TADEPALLIGUDEM,AP</p>
                  <p><i class="fas fa-envelope mr-3"></i> kondapalakala3107@gmail.com</p>
                  <p><i class="fas fa-phone mr-3"></i> + 91 9573253107</p>
                  <p><i class="fas fa-print mr-3"></i> + 91 8978031475</p>
                </div>
                <!-- Grid column -->
              </div>
              <!-- Grid row -->
            </div>
          </section>
          <!-- Section: Links  -->
      
          <!-- Copyright -->
          <div
               class="text-center p-3"
               style="background-color: rgba(0, 0, 0, 0.2)"
               >
            © 2023 Copyright
            <!-- <a class="text-white" href="#"
               >MDBootstrap.com</a
              > -->
          </div>
          <!-- Copyright -->
        </footer>
        <!-- Footer -->
   
    </div>
      
   
</body>
</html>